.header-outer-container {
    position: sticky;
    top: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 132, 132);
    background-color: rgb(20, 20, 20);
    /* background-color: transparent; */
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    /* background-color: red; */


    }
    
    .nav_black {
    background-color: rgb(20, 20, 20);
    }
    
    .header-container {
    width: 90%;
    display: flex;
    justify-content: space--between;
    align-items: center  ;
    }